

/*Normal Formats*/
body {
    background: url("http://i.imgur.com/Okg1j8Q.jpg");
    background-size:100%;
    background-size:cover;
    background-position:center;
    color: white;
    padding:20;
    text-align: justify;
}
p {
    font-size:20px;
    font-family:arial;
}
div {
    width:800px;
    background-color:#111112;
    color:white;
    margin:0 auto;
    margin-top:20px;
    border:#00B2B2 4px solid;
    border-radius: 20px;
    padding:22px;
    font-size:20px;
    text-align:center;
}
/*_____________Link_for_email___________*/
 a {
    color:white;
}
a:hover {
    transition: color .5s;
    transition: background-color 10s;
    background-color:black;
    color:#00B2B2;
}
/*_____________LOGO___________*/
 .logo {
    text-align:center;
}
/*___________Clients___________*/
 .clients {
    text-align:center;
}
/*___________Outline_of_entire_site___________*/
 .outline {
    width:900px;
    background-color:#262729;
    border-radius: 20px;
    margin:0 auto;
    color:white;
    margin-top:20px;
    padding:20px;
    border:#00B2B2 4px solid;
}
/*_____________Buttons___________*/
 .button {
    font-size:20px;
    border: #00B2B2 2px solid;
    color:#00B2B2;
    background-color:black;
    padding: 5px;
    margin: 9px;
    position:relative;
    top:25%;
    left:1%;
    border-radius:6px;
    transition: all 0.4s ease;
}
.button:hover {
    background-color:#00B2B2;
    color:black;
    -webkit-transform: scale(1.2);
}
/* ___________Color_Changing_For_Divs__________ */
 .addon:hover {
    transition: color .5s;
    transition: background-color 1s;
    background-color:black;
    color:#00B2B2;
}
/*__________Contact_Information___________*/
 .addon2 {
    text-align:center;
}
.addon2:hover {
    transition: color .5s;
    transition: background-color 1s;
    background-color:black;
    color:#00B2B2;
}
/*________Share_Button__________*/
 .Special:hover {
    transform:scale(1.5);
}
#copyright {
    font-size:10px;
}
.musicintro {
    font-size:32px;
    font-family:impact;
}