/*Navbar*/
#nav{
    font-family:trebuchet ms;
    font-size:20px;
    background-color: #222;
    margin-bottom:4%;
}

#nav_wrapper{
    margin: 0 auto;
    text-align: left;
}

#nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    position:relative;
}

#nav ul li{
    display: inline-block;
}

#nav ul li:hover{
    background-color: #333;
}

#nav ul li a,visited{
    color: #ccc;
    display:block;
    padding: 15px;
    text-decoration:none;
}

#nav ul li a: hover{
    color:#ccc;
    text-decoration:none;
}

#nav ul li:hover ul{
    display: block;
}

#nav ul ul{
    /*This changes the list font size*/
    font-size:.8em;
    display:none;
    position: absolute;
    background-color: #333;
    min-width: 150px;
}

#nav ul ul li{
    display: block;
}

#nav ul ul li a, visited{
    color: #ccc;
}

#nav ul ul li a:hover{
    color: #099;
}



/*Rest of site*/

body{
    overflow-x:hidden;
    font-family:arial;
        padding:0;
    margin: 0;
}
.GeniusProject{
  margin-top:2%;
  text-align:center;
}

#rest-of-site{
  margin-left: 10em;
  margin-right: 10em;
}

hr{
  margin-left: 30em;
  margin-right: 30em;
  background-color: black;
  font-weight: bold;
}

.date{
  font-weight: bold;
}

a {       
    color:#1CA8AE;
}   

/*Nav Bar*/
#second-ul {
    text-align:center;
    list-style-type: none;
    margin-top: 2em;
    margin-bottom:2em;
    padding: 0;   
    transition: .5s all ease;
    transition-timing-function: linear;
}


#index{        
    transition: .5s all ease;
    transition-timing-function: linear;
}

#index:hover a{
    color:white;
}

button {
    background-color:white;
    font-size:1em;
    text-align:center;
    padding-left:.5em;
    padding-right:.5em;
    padding-top:1em;
    padding-bottom:1em;
    border:solid black;
    border-radius:2em;
    margin:auto;
    display: inline;
    transition: .5s all ease;
    transition-timing-function: linear;
}

button:hover {
    background-color:#1CA8AE;
}