/*Nav Bar*/
a{
    font-size:1.3em;
    color: black;
    text-decoration:none;
}

ul {
    text-align:center;
    list-style-type: none;
    margin-top: 2em;
    margin-bottom:2em;
    padding: 0;   
     transition: .5s all ease;
    transition-timing-function: linear;
}


#index{        
    transition: .5s all ease;
    transition-timing-function: linear;
}

#index:hover{
    color:black;
}

#index:hover a{
    color:white;
}

button {
    text-align:center;
    padding-left:.2em;
    padding-right:.2em;
    padding-top:1em;
    padding-bottom:1em;
    border:solid black;
    border-radius:2em;
    margin-right:auto;
    display: inline;
    transition: .5s all ease;
    transition-timing-function: linear;
    background-color:white;
}

button:hover {
    border-color:white;
    background-color:black;
}

/*Other stuff*/
body{
        text-align:center;   
        font-family: arial;  
        overflow:hidden;
    }

    p{
        font-family: arial;     
        font-size:1em;
    }
    
    #red , #green , #blue , #yellow, #orange, #purple, #lightBlue, #lightGreen, #lightPurple, #lightPink{
        height:8em;
        width:8em;
        display:inline-block;
    }

    /*The white spot*/
 /*    #border{
        background-color:white;
        height:5em;
        width:100%;
    }
 */
    #message{
        font-size:2em;
        position:absolute;
        margin-left:40%;
        top:40%;
        color:white;
    }