/*Nav Bar*/
a{
    font-size:1.3em;
    color: #49B6CF;
}

ul {
    text-align:center;
    list-style-type: none;
    margin-top: 2em;
    margin-bottom:2em;
    padding: 0;   
     transition: .5s all ease;
    transition-timing-function: linear;
}


#index{        
    transition: .5s all ease;
    transition-timing-function: linear;
}

#index:hover a{
    color:white;
}

button {
    text-align:center;
    padding-left:.2em;
    padding-right:.2em;
    padding-top:1em;
    padding-bottom:1em;
    border:solid #49B6CF;
    border-radius:2em;
    margin-right:auto;
    display: inline;
    transition: .5s all ease;
    transition-timing-function: linear;
    background-color:white;
}

button:hover {
    background-color:#1CA8AE;
}
/*Rest of stuff*/
body{
  font-family:arial;
  background-image:url('http://i.imgur.com/eFRDGLn.jpg');
  background-size: 100%;
}
p{
  text-align: center;
  font-size: 1.5em;
  margin-top:.5em;
}

h1{
  text-align: center;
  font-size: 4em;
  color:white;
}

/*Message to the viewers*/
.text{
  border: .25em solid white;
  width: 50%;
  margin-left: 25%;
  margin-top:1em;
  color:white;
}


.text:hover{
  background-color: #49B6CF;
  opacity: 1;
  transition: all 3s ease;
  border: .25em solid white;
}

/*Joke animations*/

#jokes{
  border: .25em solid white;
  width: 50%;
  margin-left: 25%;
  margin-top:3em;
  color:white;
}

#joke1answer{
  display: none;
  border: .1em solid white;
  width: 50%;
  margin-left: 25%;
  margin-top:6em;
  color:white;
  margin-top: 1em;
  margin-bottom:1em;
  font-size:1.5em;
  text-align:center;
}


#jokes:hover{
  background-color: #49B6CF;
  transition: all 3s ease;
}

#jokes:hover #joke1answer{
  display:block;
}


/*Up and Down*/

.up{
  position:absolute;
  background-color: #5A5A5A;
  overflow:hidden;
  -webkit-animation: up 5s ;
  height:0%;
  width:100%;
  top: 0%;
}

@-webkit-keyframes up {
    from {height: 50%;}
    to {height: 0%;}
}

.down{
  position:absolute;
  background-color: #5A5A5A;
  overflow:hidden;
  -webkit-animation: down 5s ;
  height:0%;
  width:100%;
  top:0%
}

@-webkit-keyframes down {
    from {top: 50%; height: 50%; }
    to {top: 100%;}
}


/*Left and Right*/

.left{
  position:absolute;
  background-color: black;
  overflow:hidden;
  -webkit-animation: left 8s ;
  height:100%;
  top:0%;
}

@-webkit-keyframes left {
    from {left: 0%; width: 50%;}
    to {left: 0%; width: 0%;}
}

.right{
  position:absolute;
  background-color: black;
  overflow:hidden;
  -webkit-animation: right 8s ;
  height:100%;
  top:0%;
}

@-webkit-keyframes right {
    from {left: 50%; width:50%;}
    to {left: 100%; width:0%;}
}
